#menu {
  background-color: palegreen;
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

p{
  color: rgb(114, 114, 125);
}

div{
  color: red;
  font-family: Arial, sans-serif;
}